body{
  font-family: sans-serif !important;
}

.userDataSection ul {
  list-style: none;
  margin-left: 20px;
}

.userDataSection ul li:before {
  content: '✓';
  margin-right: 10px;
}

.userDataSection ul li{
  margin-top:5px;
}